<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd" autoReload="true" throwExceptions="false" internalLogLevel="Off" internalLogFile="/home/gko95/Workspace/QuickQuestionnaire">

    <!-- optional, add some variables
        https://github.com/nlog/NLog/wiki/Configuration-file#variables
    -->
    <variable name="MicrosoftLevel" value="${level:lowercase=true:truncate=4:when=level==LogLevel.Info or level==LogLevel.Warn}${when:when=level==LogLevel.Error:inner=fail}${when:when=level==LogLevel.Fatal:inner=crit}${when:when=level==LogLevel.Debug:inner=dbug}${when:when=level==LogLevel.Trace:inner=trce}" />
    <variable name="MicrosoftLayout" value="${MicrosoftLevel}: ${logger}[${event-properties:EventId_Id:whenEmpty=0}]${newline} ${message}${onexception:inner=${newline}${exception:format=tostring}}" />

    <!--
        See https://github.com/nlog/nlog/wiki/Configuration-file
        for information on customizing logging rules and outputs.
    -->
    <targets async="true">
        <target name="console" xsi:type="Console" layout="${MicrosoftLayout}" writeBuffer="true" />

        <target xsi:type="ColoredConsole" name="String" encoding="Encoding" layout="Layout" header="Layout" footer="Layout" useDefaultRowHighlightingRules="Boolean" errorStream="Boolean" enableAnsiOutput="Boolean" detectConsoleAvailable="Boolean" detectOutputRedirected="Boolean">
            <highlight-row condition="Condition" backgroundColor="Enum" foregroundColor="Enum"/>
            <!-- repeated -->
            <highlight-word text="String" condition="Condition" backgroundColor="Enum" foregroundColor="Enum" ignoreCase="Boolean" regex="String" wholeWords="Boolean" compileRegex="Boolean"/>
            <!-- repeated -->
        </target>
    </targets>

    <rules>
        <logger name="*" minlevel="Info" writeTo="blackhole" />
    </rules>
</nlog>